.tabContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.tabHeaderDiv
{
  height: 35px; 
  background-color: white;
  color: black;
  align-items: center;
  border: 1px solid lightgray;
  border-top-left-radius: 3px;  /* Adjust value as needed */
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: space-between;
}

.filter-header-left-text {
  font-size: 12px;
  color: #333;
  padding-left: 8px;
  padding-top: 2px;
  align-items: center;
}

.filter-header-right-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 5px;

  .material-symbols-outlined
  {
    font-size: 16px;
    color: #5C5C5C;
    cursor: pointer;
  }
}

::ng-deep kendo-grid .k-grid-header th.k-header {
  background-color: #f5f5f5;; /* Gray background for headers */
  border: 1px solid rgb(229, 236, 245);
  font-weight: 500;
  color: black;
  font-size: 11px;  
}

::ng-deep .k-grid-header th.k-header {
   //height: 15px;
  white-space: wrap;
  word-break: normal;
  vertical-align: middle;
  line-height: normal;
}

::ng-deep kendo-grid .k-grid-table tr,
::ng-deep kendo-grid .k-grid-table td {
  border: 1px solid rgb(229, 236, 245) !important;
  background-color: white; /* Light gray background */
  font-size: 11px; 
    padding: 4px 8px;   // controls row height
}

::ng-deep kendo-grid .k-grid-content tr:hover {
  background-color: #f0f8ff; /* Optional: highlight row on hover */
}

  .search-container {
  position: relative;
  max-width: 55%;
  padding-right: 10px;

  input {
    width: 100%;
    border-radius: 24px;
    border: 2px solid #ccc;
    font-size: 11px;
    padding-left: 10px;
    outline: none;
    transition: border-color 0.3s ease;
    height: 20px;
  }

  .search-icon {
  position: absolute;
  right:0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px; 
  color: #363636;
  pointer-events: none;
  }  

}

::ng-deep .k-grid .k-pager {
  justify-content: flex-end !important;
  height: 21%;
  padding-bottom: 21px;
}

::ng-deep .k-button-flat {
  width: 25px;
  height: 25px;
  color: black !important;
  cursor: pointer;
}

::ng-deep .k-pager .k-button {
  background-color: #e4fcf2 !important;
  border-color: gray !important;
}

::ng-deep .k-pager .k-button.k-selected {
  border-color: gray !important;
  background-color: #02A783 !important;
  color: white !important;
}

::ng-deep .k-pager {
  background-color: transparent;
}