<div class="mainDiv">
    <div class="firstDiv" (click)="toggleComponent()">
        <span class="material-symbols-outlined materialIcon">network_node</span>
    </div>
    <div class="secondDiv">
        <div class="icon-hover-circle">
            <span class="material-symbols-outlined materialIcon">apps</span>
        </div>
        <div class="icon-hover-circle">
            <span class="material-symbols-outlined materialIcon">folder_managed</span>
        </div>

        <div class="icon-hover-circle">
            <span class="material-symbols-outlined materialIcon">folder</span>
        </div>

        <div class="icon-hover-circle">
            <span class="material-symbols-outlined materialIcon">check_circle</span>
        </div>

        <div class="icon-hover-circle">
            <span class="material-symbols-outlined materialIcon">engineering</span>
        </div>

        <div class="icon-hover-circle">
            <span class="material-symbols-outlined materialIcon">settings</span>
        </div>
    </div>
</div>
